body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial;
      background-color: #f1f8e9;
    }
    .message {
      font-size: 24px;
      color: #689f38;
    }